.alert-error {
    color: red;
}
body{
    margin-right: auto;
    margin-left: auto;
    width: 70%; 
    background-color: beige;
    color: rgb(92, 92, 88);
    font-size: 11px;
}
h4{
    display: inline;
    color: rgb(5, 5, 5);
    font-size: 14px;
    
}
select{
    height: 2rem;
    margin-left: 0.8rem;
}
.contributor-avatar{
    border-radius: 3px;
    margin-right: 16px;

}
td:nth-child(odd){
    width: 33%;
}

table{
    width: 100%;
}
.contributors-list{
    padding: 0;
}
@media only screen and (min-width: 652px) {
    .all-info{
        display: flex;
    }
    .left-side{
        display: flex;
        flex-direction: column;
        flex: 50%;
        padding: 0.7rem;
        background-color: rgb(248, 248, 248);  
        margin-right: 1rem;
        box-shadow: 0.2rem 0.3rem 0.4rem gray; 
        border-radius: 0.5em;
    }
    .right-side{
        display: flex;
        flex-direction: column;
        flex: 50%;
        background-color: rgb(248, 248, 248);  
        padding: 0.7rem;
        box-shadow: 0.2rem 0.3rem 0.4rem gray; 
        border-radius: 0.5em;
    
    }
    .header{
        display: flex;
        align-content: center;
        background-color: blue;
        padding: 0.5rem  1rem;
        align-items: center;
        color: white;
        margin-bottom: 1rem;
    }
}
@media only screen and (max-width: 652px) {
    .all-info{
        display: flex;
        flex-direction: column;
    }
    .left-side{
        display: flex;
        flex-direction: column;
        flex: 100%;
        padding: 0.7rem;
        background-color: rgb(248, 248, 248);  
        box-shadow: 0.2rem 0.3rem 0.4rem gray; 
        border-radius: 0.5em;
         margin-bottom: 1rem;
    }
    .right-side{
        display: flex;
        flex-direction: column;
        flex: 100%;
        background-color: rgb(248, 248, 248);  
        padding: 0.7rem;
        box-shadow: 0.2rem 0.3rem 0.4rem gray; 
        border-radius: 0.5em;
    
    }
    .header{
        display: flex;
        align-content: center;
        background-color: blue;
        padding: 0.5rem  1rem;
        align-items: center;
        color: white;
        margin-bottom: 1rem;
    }
    h4{
        font-size: 0.6rem;
        display: inline;
        font-family: sans-serif;
    }
    select{
        width: 50%;
    }
    .contributor-avatar{
        border-radius: 3px;
        margin-right: 0;
    
    }
    
}
.alert-error {
    color: red;
    font-size: 3rem;
    text-align: center;

}
p{display: inline;}
h5,a{
    font-size: 0.9rem;
    display: inline;
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(92, 92, 88);
    
}
tr td a:hover{
    color: rgb(46, 44, 44);
    font-size: 16px;
}
.contributor-item{
    list-style: none;
}
.contributor-item:hover{
    cursor: pointer;
    background-color: rgb(240, 234, 234);
}
 
.contributorAnchor{
    border-top: solid 1px rgb(0, 0, 0, 12%);
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: rgb(92, 92, 88);
    font-size: 11px;
}
.contributor-badge{
    align-items: flex-end;
    color: rgb(23, 22, 24);
}
tr {
    display: flex;
}